/private.py
/games.data.pickle
/airtable.data.pickle
/__pycache__/
/.jscsrc
/private.pyc
/py3env/
/node_modules
/bower_components
/public/index.js.LICENSE.txt
/.env
/test.py

.DS_Store
/build
node_modules
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
