<!doctype html>
<html ng-app="gameApp">
    <head>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
        <script src="bower_components/angular-scroll-animate/dist/angular-scroll-animate.js"></script>
        <script src="game-timeline-data.js"></script>
        <script src="game-timeline.js"></script>
        <link rel="stylesheet" href="game-timeline.css">
        <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css"/>
    </head>
    <body ng-controller="GameTimelineController as ctrl">
        <timeline>
            <timeline-event ng-repeat="game in games" side="">
                <timeline-badge class="info">
                    <i class="glyphicon glyphicon-check"></i>
                </timeline-badge>
                <timeline-panel class="info">
                    <timeline-heading>
                        <h4>{{game.title}}</h4>
                    </timeline-heading>
                    <p>{{game.date}}</p>
                    <p><img src="covers/{{game.slug}}.jpg"/></p>
                </timeline-panel>
            </timeline-event>
        </timeline>
        <button ng-click="refresh()" type="button" style="position: fixed; bottom: 35px;">Refresh</button>
    </body>
</html>
