@media screen and (max-width: 480px) {
    .timeline-panel {
        width: 100% !important
    }
}

.timeline-container {
    margin-left: 20px;
    margin-right: 20px;
    martin-top: 20px;
}

.game-covers {
    width: 100%;
}

.speed-dial-menu {
    position: fixed;
    bottom: 10px;
    z-index: 999;
}

.speed-dial-menu-button {
    background-color: forestgreen !important;
}
