<!doctype html>
<html ng-app="gameApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Game Timeline</title>

        <!-- favicon thanks to freefavicon.com -->
        <link rel="icon" type="image/x-icon" href="favicon/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="favicon/video-game-controller-icon-152-227918.png">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon/video-game-controller-icon-152-227918.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon/video-game-controller-icon-144-227918.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon/video-game-controller-icon-120-227918.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon/video-game-controller-icon-114-227918.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon/video-game-controller-icon-72-227918.png">
        <link rel="apple-touch-icon-precomposed" href="favicon/video-game-controller-icon-57-227918.png">
        <link rel="icon" href="favicon/video-game-controller-icon-32-227918.png" sizes="32x32">


        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-scroll-animate/dist/angular-scroll-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="game-timeline-data.js"></script>
        <script src="game-timeline.js"></script>
        <link rel="stylesheet" href="game-timeline.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css"/>
        <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline-bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline-animations.css" />
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline-bootstrap.css" />

        <!-- Google Analytics -->
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-85110529-1', 'auto');
         ga('send', 'pageview');
        </script>
    </head>
    <body ng-controller="GameTimelineController as ctrl">
        <timeline>
            <timeline-event ng-repeat="game in games.filter(isVisible)" side="">
                <timeline-badge class="info">
                    <i class="glyphicon {{ game.completed ? 'glyphicon-check' : 'glyphicon-file' }}"></i>
                </timeline-badge>
                <timeline-panel class="info">
                    <timeline-heading>
                        <h4>{{game.title}}</h4>
                    </timeline-heading>
                    <p>{{game.date}}</p>
                    <md-chips ng-model="game.support" readonly="true" md-removable="false"></md-chips>
                    <md-chips ng-model="game.genre" readonly="true" md-removable="false"></md-chips>
                    <p><a href="{{game.url}}"><img src="covers/{{game.slug}}.jpg"/></a></p>
                </timeline-panel>
            </timeline-event>
        </timeline>
        <md-switch ng-model="filters.completedOnly" style="position: fixed; bottom: 65px;" aria-label="Completed Only" ng-change="completedOnly(filters.completedOnly)">
            Completed Only {{ filters.completedOnly }}
        </md-switch>
        <md-switch ng-model="filters.alphaAsc" style="position: fixed; bottom: 35px;" aria-label="Sort Alpha" ng-change="sortAlpha(filters.alphaAsc)">
            Alphabetical {{ filters.alphaAsc == true ? 'asc' : 'desc'}}
        </md-switch>
    </body>
</html>
