body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #bfdee8;
}


.App {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .timeline-panel {
        width: 100% !important
    }
}

.timeline-container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.game-covers {
    width: 100%;
}

.speed-dial-menu {
    position: fixed;
    bottom: 10px;
    z-index: 999;
}

.mfb-component__button--main {
    background: #2196f3;
}

.mfb-component__button--child {
    background: #2196f3;
}

.MuiChip-root-1 {
    margin-top: 6px;
    margin-bottom: 6px;
}
